
6semestr/ISIS/5 лаба и другое/ИКСИС/Cisco Packet Tracer 6.2 for Windows Student Version.exe
6semestr/ISIS/5 лаба и другое/ИКСИС/PacketTracer-7.3.0-win64-setup.exe
6semestr/RMP/~$2_Черняев_ИС-17-2.docx
6semestr/RMP/~$Metod_MIT_LR1.docx
6semestr/RMP/~$MIT_2.docx
