!!!
%html{:lang => "en"}
  %head
    = Haml::Engine.new(File.read("partials/headTemp.haml")).render
    %title Фотоальбом
    %link{:href => "css/lightbox.min.css", :rel => "stylesheet"}/
    %script{:src => "js/lightbox-plus-jquery.min.js", :type => "text/javascript"}
    %script{:src => "js/photo.js", :type => "text/javascript"}
  %body
    = Haml::Engine.new(File.read("partials/navTemp.haml")).render
    .main
      .container
        %h2.section-title Фотоальбом
        #gallery.photo-wrap
    = Haml::Engine.new(File.read("partials/footerTemp.haml")).render
    %script{:src => "js/historyForEachPage.js", :type => "text/javascript"}